* {
    font-family: ;
}

/*navigation*/

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E55473;
    height: 80px;
    padding: 10px 150px;

}
.nav-items {
    list-style: none;
    display: flex;
    gap: 100px;
    font-size: 20px;
}
a{
    padding: 8px;
    border:1px solid #584f4f;
    border-radius: 5px;
    color: #272727;
    text-decoration: none;
}

/*banner section*/

.banner {
    text-align: left;
    display: flex;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);

}

.banner-heading {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    font-weight: 400;
}

.btn {
    margin-top: 30px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    background: #E55473;
}

.banner-details {
    margin-top: 120px;
    margin-left: 200px;
}

.banner-img {
    margin-top: 50px;
    margin-right: 200px;
}

/*main section */

.all-features {
    margin-left: 250px;
    margin-right: 250px;
}

.features-content {
    margin-top: 120px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: space-around;
}

.features-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.features-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    font-weight: 400;
}

/*featured flower section*/
.features-img {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;

}

.bg {
    width: 290px;
    height: 420px;
    border-radius: 300px 300px 0px 0px;
    padding: 110px 75px 0px 75px;

}

.bgclr1 {
    background: rgba(167, 33, 98, 0.15);

}

.bgclr2 {
    background: rgba(5, 151, 160, 0.15);

}

.bgclr3 {
    background: rgba(71, 125, 17, 0.15);
}

.support {
    margin-top: 170px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 150px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.discount {

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    margin-top: 170px;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    gap: 180px;
}

.discount-details {
    padding: 230px 0px 180px 400px;
}

.rose {
    padding: 120px 400px 120px 0px;
}

.instagram {
    text-align: center;
    margin-top: 170px;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 0px 220px 130px 220px;
}
.subscribe{
    margin: 170px 220px;
    background-image: url("./Flower Asset/Rectangle\ 9.png");
    background-position: center;
    text-align: center;
    justify-items: center;
    padding: 120px 280px 120px 280px;background-repeat: no-repeat;
}
.mail{
    border: none;
    border-radius: 8px;
    height: 20px;
    width: 400px;
    padding: 20px 20px;
}
.subs-bar{
    gap: 20px;
}

/* footer section*/

.footer {
    text-align: center;
    border-radius: 8px;
    background: #111010;
    padding: 110px 500px;
}

.footer-head {
    color: white;
    font-size: 40px;
    font-weight: 800;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.rights {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}